.cards {
  background: black;
  padding: 100px 0;
}

.container {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.card_photo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card_photo_size {
  width: 250px;
  height: 250px;
  border-radius: 10px;
}

.inner_cards_block {
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  justify-content: space-evenly;
  gap: 40px;
}

h2 {
  color: white;
  text-align: center;
}

p {
  color: var(--orange);
  text-align: center;
}