.cards {
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  min-height: 800px;
  width: 100%;

}

.cards div {
  width: 300px;
  min-height: 400px;
  max-height: fit-content;
  height: fit-content;
  overflow: hidden;
  background-color: #000;
  color: #fff;
  border-radius: 12px;
}

.cards div img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

/* .card {
  
} */
*/