#weather-card {
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    max-width: 300px;
    color: white;
    background-color: gray;
    margin: 0 auto;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-bottom: 30px;
}
.weather-block{
    justify-content: center;
    display: flex;
    flex-direction: column;
}

#weather-card h1 {
    font-size: 24px;
}

#weather-card p {
    font-size: 18px;
}